header {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
    background: #0D0D0D;
    height: 64px;
}

.navbar {
    padding-left: 15px;
    padding-right: 15px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_links {
    list-style: none;
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-between;
}
.nav_links li a {
    text-decoration: none;
    color: white;
}
.burger {
    display: none;
    width: 30px;
    cursor: pointer;
}
.burger_item {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: white;
}
.burger_item:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 5px;
}